{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Actualités - Elixir Group" %}{% endblock title %}

{% block contents %}
    <section class="actualites actualites-page">
        <h1>{% trans "Suivez vos actualités sans aucune interruption dans notre application." %}</h1>
        <p>{% trans "Informez-vous toujours ici en avant-première." %}</p>
        <a href="{% url 'home' %}">{% trans "Elixir Group" %}</a>
        <div class="boxs">
            
        </div>
    </section>
{% endblock contents %}